<app-navbar></app-navbar>
<div class="row mx-2 mt-2">
  <div class="col-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-10">
    <form [formGroup]="botSetupForm" (ngSubmit)="startBot()">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h1>QuanBeo Swap</h1>
            </div>
            <div class="col">
              <label class="form-label" for="privateKey">Private Key</label>
              <input class="form-control" type="password"
                     name="privateKey" id="privateKey" formControlName="privateKey">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-2">

              <label class="form-label" for="network">Network</label>
              <select class="form-control datalist" type="text"
                      (change)="getSetupByNetwork(element.value)" #element name="network" id="network">
                <option [value]="null">Select Network</option>
                <option *ngFor="let n of networkService.networkList" [value]="n.id">{{n.name}}</option>
              </select>

              <label class="form-label" for="dex">Dex</label>
              <select class="form-control" type="text"
                      name="dex" id="dex" formControlName="dex">

                <option [ngValue]="null">Select Dex</option>
                <option *ngFor="let dex of dexService.dexList" [ngValue]="dex.router">{{dex.name}}</option>
              </select>

              <label class="form-label" for="provider">Provider</label>
              <select class="form-control datalist" type="text"
                      id="provider" formControlName="provider">
                <option [ngValue]="null">Select Provider</option>
                <option *ngFor="let p of providerService.providerList" [ngValue]="p.http">{{p.http}}</option>
              </select>

            </div>

            <div class="col-2">

              <label class="form-label" for="inputAmount">Amount</label>
              <input class="form-control" placeholder="Input amount" type="text"
                     formControlName="inputAmount" id="inputAmount">
              <label class="form-label" for="input-token">Input Token</label>
              <input class="form-control datalist" placeholder="Input Token Contract address" type="text"
                     list="token-list" formControlName="inputToken" id="input-token">

              <label class="form-label" for="output-token">Output Token</label>
              <input class="form-control datalist" placeholder="Paste Token Contract address" type="text"
                     list="token-list" formControlName="outputToken" id="output-token">

              <datalist id="token-list">

              </datalist>

            </div>
            <div class="col-2">

              <div class="col">
                <label class="form-label" for="gasPrice">Gas</label>
                <input class="form-control" type="text" value="10" formControlName="gasPrice" id="gasPrice">
              </div>

              <div class="col">
                <label class="form-label" for="Slip">Slippage</label>
                <input class="form-control" type="number" value="10" formControlName="slip" id="slip">
              </div>

              <div class="col">
                <label class="form-label" for="gasLimit">Gas Limit</label>
                <input class="form-control" type="text" value="500000" formControlName="gasLimit" id="gasLimit">
              </div>

            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-primary" type="submit">Start</button>
        </div>
      </div>
    </form>
  </div>


  <div class="col-6" style="max-height: 280px;" id="logs">
    <p></p>
  </div>
</div>
